/* CSS code */

.navbar-nav .nav-link {
    font-size: 1.1rem; 
    color: black;
}


.navbar-nav .nav-link:hover {
    color: silver !important; 
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: red !important;
    border-bottom: 2px solid red;
    transition: all 0.1s ease-in-out;
}


.scrollspy-example {
    padding-top: 2rem;
}

section {
    min-height: 100vh;
    padding-top: 5rem;
}